.bold {font-weight:bold;} .underline {text-decoration:underline;} .italic {font-style:oblique;}
	/* Underline, Bold, Italic Text */
	.oneline {white-space: nowrap;}
	/* Force text to only occupy one line of space */
	.nudge {margin-left:10px;}
	/* Knock Element over to the right 10 pixels */
	.budge {margin-right:10px;}
	/* Knock Element over to the left 10 pixels */
	.fl {float:left;} .fr {float:right;}
	/* Float Left/Right */
	.db {display:block;}
	/* Display Block */ 
	.oh {overflow:hidden;}
	/* Hide overflowing Elements */
	.vw {min-width:100vw;} .vh {min-height:100vh;}
	/* CSS Variable height class */
	.pr {position:relative;}
	/* Use relative positioning on*/
	.full {width:100%;height:100%;} 
	/* Fill all available space*/
	.fullw {width:100%;} 
	/* Fill all horizontal space*/
	.fullh {height:100%;}
	/* Fill all vertical space*/
	.tint {background-color:rgba(22, 22, 22, 0.6) !important;}
	/* When an element covering another object to 'darken' its color */
	.above {z-index:+1;}
	/* When an element is covering another object */
	.under {z-index:-1;}
	/* When you want an element to cover another object */
	.ma {margin-left:auto;margin-right:auto;}
	/* This is a pretty hack to cener things with a width attribute applied */
	.ctr {text-align:center;margin-left:auto;margin-right:auto;}
	/* Same as above with Text-Align Center also applied */
	.big {font-size:28px !important;} .small {font-size:9px !important;}
	/* Class to be used on any element to make it blink */
	/* Class to be used on any element to make it mirror */
	/* Class to be used on any element to make it type out and marquee */
	/* Flip text upside down */
	/* Flip text completely backwards */
	.reverse {direction: rtl;unicode-bidi:bidi-override;}	
	.ninjas, .hide, .goAway {position:absolute;top:9000000px;bottom:9000000px;display:none;color:#000000;}
	/* Hide Element */
	.rotate { -webkit-animation-name: rotate; -webkit-animation-duration: 2s; -webkit-animation-iteration-count: infinite; -webkit-transition-timing-function: linear; animation-name: rotate; animation-duration: 2s; animation-iteration-count:  infinite; transition-timing-function: linear;} @-webkit-keyframes rotate { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(359deg); } } @-moz-keyframes rotate { from { -moz-transform: rotate(0deg); } to { -moz-transform: rotate(359deg); } } @keyframes rotate { from { transform: rotate(0deg); } to { transform: rotate(359deg); } }
	/* Rotate Elements */