@font-face {
	font-family: 'neoSans';
	src:url('fonts/NeoSans-Light.eot');
	src:url('fonts/NeoSans-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/NeoSans-Light.ttf') format('truetype'),
		url('fonts/NeoSans-Light.woff') format('woff'),
		url('fonts/NeoSans-Light.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration:none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
	font-family: 'neoSans';
		url('fonts/NeoSans-Light.svg#icomoon') format('svg');
}
}