 /* Font Imports */
	@import url('icomoon.css');

/* Divine body layout Settings */
	* {margin:0;padding:0;border:0;list-style:none;}
	body {color:#FFFFFF;background-color:#111111;line-height:1.4;font-family:Tahoma, Geneva, sans-serif;display:flex;flex-direction:column;min-height:100%;}
	header {height:200px;overflow:hidden;}
	header {background-image: url('http://i.imgur.com/F5iyCYb.gif');/*background-position:0% 41%;background-size: cover;*/background-repeat:repeat;} */
	#allOfTheThings {flex: 1;width:100%; -ms-flex-preferred-size: auto; @include breakpoint("large") }
	footer {height:28px;}
/* lol mode body {display:block; -webkit-transform: matrix(-1, 0, 0, 1, 0, 0); -moz-transform: matrix(-1, 0, 0, 1, 0, 0); -o-transform: matrix(-1, 0, 0, 1, 0, 0); transform: matrix(-1, 0, 0, 1, 0, 0); }} */
/
* Header Styles */
	header .logoArea {position:absolute;top:50px;left:20px;z-index:+1;}
	header .logoArea img {width:400px;height:50px;}
	header .quote {position:absolute;font-family: 'neoSans';top:50px;color:#010101;z-index:+2;font-size:14px;margin-left:60px;text-shadow: 0 0 2px #FFFFFF;}

/* Navigation Bar Styles */
	#navBody * {list-style:none;}
	#navBody {position:absolute;top:177px;width:100%;height:23px;margin:0 auto;background-color:rgba(22, 22, 22, 0.8);z-index:+5;}
	#navBody span {font-size:16px;}
	#navBody a, #navBody a:link, #settingsButton a, #settingsButton a:link {color:#D6D6D6;text-decoration:none;font-family:'neoSans';text-decoration:none;font-weight:500;font-size:16px;}
	#navBody ul {margin-left:8px;line-height:23px;}
	#navBody li {float:left;margin:0 6px;}
	#navBody li a:hover, #settingsButton a:hover {cursor:pointer;text-decoration:none;text-shadow: 0 0 4px #FFFFFF;color:#FFFFFF;font-size:115%;}

/* Footer Styles */
	footer {display:block;position:fixed;bottom:0px;}
	footer .fl {padding-left:8px;}
	footer .fr {padding-right:8px;}
	footer .icn {font-size:20px;margin:auto 2px;}
 	.adSpace {margin:6px;opacity:0.2;width:468px;height:15px;border:0px;padding:0;overflow:hidden}
	
/* Icon Reset Styles */
	.icn {font-family:'icomoon' !important;text-decoration:none !important;}
	.icn * {text-decoration:none !important;}
	.icn a:before {text-decoration:none !important;}
	.icn a:link {text-decoration:none !important;}
	.icn a:hover {text-decoration:none !important;}
	a:link .icn {text-decoration:none !important;}
	a:hover .icn {text-decoration:none !important;}
	
/* Default Styles */
	a, a:link {color:#FFFFFF;text-decoration:none;}
	a:hover {text-decoration:underline;}
	a:visited {color:#FFFFFF;}
	h1 {font-size:larger;}
	h2 {font-size:large;}
	h3 {font-size:medium;}
	h4 {font-size:small;}
	h5 {font-size:smaller;}
	iframe {border:0;}
	table {width:100%;margin:0px auto;background-color:#222222;}
	table td {border: solid 1px #222222;}
	table td {text-align:center;}
	table tr {height:22px;}
	table tr:nth-child(even) {background-color:#333333;}
	table tr:nth-child(odd) {background-color:#222222;}
	del {text-decoration:line-through;opacity:0.6;}
	input {height:auto;width:auto;overflow:visible;font-family:"Lucida Console", Monaco, monospace;font-size:9px;}
	
/* Font AntiAliasing */
	.antialias { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}


/* Video Player Styles */
	.youTube {width:650px;height:390px;overflow:hidden;}
	.youTube iframe {border:0;width:630px;height:370px;padding:10px;}

/* Chan Styles */
	.chan {height:140vh;}

/* Table Styles */	
	#fileTable tr th a:link, .fileTable {color:#222222;text-decoration:none}
	#fileTable tr th a:hover, .fileTable a:active {text-decoration:underline}

/* Code viewer and Pastebin Styles */
	.previewIcon {font-size:80px;font-family:'icomoon';margin:40px;color:#222222;}
	.previewIcon:hover {opacity:0.9;color:#FFFFFF !important;text-decoration: none;}

/* Color Picker Styles */
	#colorPicker a:before {font-family:'icomoon' !important;font-size:18px;float:left;background:#222222;display:block;border-radius:5px;border:4px solid #222222;margin:2px;}
	#colorPicker a:hover:before {cursor:pointer;margin:1px;font-size:20px;}
	
	/* Square Resets */
		.sq ul, .sqDub ul {list-style:none;}
		#yourmusicSquare iframe {height:179px;margin-top:1px;width:370px;}
		#yourmusicSquare .sqBody {margin:0;}

	/* Square Display */
		.sq, .sqDub {height:180px;overflow:hidden;margin:10px 10px 0 0;float:left;}
		.sq		{width:180px;}
		.sqDub 	{width:370px;}

		.sqBack {display:none;}
	
	/* Square Titles and Buttons */
		.sqTitle {margin:2px 5px;font-size:18px;height:25px;color:#222222;font-family:'neoSans';font-weight:bold;word-wrap:;}
		.sqTitle .icn {color:#333333;font-size:16px;}
		.sqTitle .sqSettings {color:#222222;font-size:18px;opacity:0.2;float:right;margin-top:1px;}
		.sqTitle .sqSettings:hover {animation:fadeIn 0.5s;-webkit-animation:fadeIn 0.5s;opacity:1;cursor:pointer;}
		.sqFlipButton {text-align:right;display:none;}
	
	/* Square Front Body */
		.sqBody {margin-left:10px;font-size:12px;overflow:hidden;}
		.sq .sqBody .sqImgBody, .sqDub .sqBody .sqImgBody {height:120px;overflow:hidden;display:block;margin:0 10px;}
		.sq .sqBody .sqImgBody {width:160px;}
		.sqDub .sqBody .sqImgBody {width:350px;}
		.sqImgBody img {width:100%;height:auto;margin-top:-100px;}

/* Fridge Styles */
	#breadcrumbs {margin: 0 0 8px 8px;}
	#breadcrumbs {float:left;text-align:left;}
	#listingheader a, #listingheader a:active, #listingheader a:visited, #listingheader a:link {text-decoration: none;}
	#listingheader a:hover {text-decoration:underline;}
	#headermodified, #headerfile, #headersize {width:400px;}
	#headermodified a, #headerfile a, #headersize a {color:#222222;}
	#listing {border: 0px solid #222222;}
	#listing a {color:#FFFFFF;text-decoration:none;}
	#listing a:hover {background-color:#434343;}
	#listing a img {margin:0;}
	#upload {border: 1px solid #A7C5FF;display:block;margin-top: 10px;font-size:small;color: #6285CA;text-decoration:none;background-color: #E9F0FF;}
	#uploadtitle {background-color: #DBE6FE;padding: 2px 5px 2px 5px;border-bottom: 1px solid #A7C5FF;}
	#uploadcontent {padding: 2px 5px 2px 5px;}
	.mod {margin:0;}
	.size {margin:0;}
	.upload-error{padding:2px 0;}
	.upload-error strong{color:#993333;}

/*	#fileTable */

/* Bubble Styles */
	.bubbles {position:relative;display:none;overflow:hidden;width:100%;height:180%;margin:0 auto;}
	.bubble-outer {position:absolute;bottom:0;-webkit-animation: bubblerise 4s infinite ease-in; -moz-animation:bubblerise 4s infinite ease-in;-ms-animation: bubblerise 4s infinite ease-in; animation: bubblerise 4s infinite ease-in;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0;}
	.bubble {opacity:0.9;width:6px;height:6px;margin:0 auto;border:1px solid rgba(255, 255, 255, 0.5);background: rgba(255, 255, 255, 0.5);-webkit-border-radius: 10px;-moz-border-radius: 10px;-ms-border-radius: 10px;-o-border-radius: 10px;border-radius: 10px;-webkit-animation: bubblewobble 0.4s infinite linear;-moz-animation: bubblewobble 0.4s infinite linear;-ms-animation: bubblewobble 0.4s infinite linear;animation: bubblewobble 0.4s infinite linear;}
	.bubble span {overflow:hidden;font-weight:bold;color:#222222;position:relative;top:0px;}

/* Bubble Animations */
	@keyframes bubblerise {0% {bottom: 0;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity: 0;} 5% {bottom: 0;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity: 1;} 99% {filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity: 1;} 100% {bottom: 100%;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity: 0;}}
	@keyframes bubblewobble {0% {margin-left: 0;} 50% {margin-left:0px;}}
	@keyframes caret{ 50%{ opacity:0.1; transform:scaleY(.8); } }

/* Misc Animations */
	@keyframes fadeIn {from {opacity:0.2;} to {opacity:1;} }
	@-webkit-keyframes fadeIn {from {opacity:0.2;} to {opacity:1;} }

/* Browser Compatibility Bloat */
	#colorPicker a:before; {-webkit-border-radius: 4px;-moz-border-radius: 4px;}
	.sourceCode {-webkit-border-radius: 10px;-moz-border-radius: 10px;}

/* We hang onto this because we might need it */
/* .bubble-toggle {position: absolute;top: 10px;right: 10px;padding: 10px;background: rgba(255, 255, 255, 0.5);font-family: sans-serif;font-size: 13px;color: #333;} .bubble-toggle:hover {background: rgba(255, 255, 255, 0.75);} 
