 /* Font Imports */
	@import url('neoSans.css');
	@import url('icomoon.css');

/* Divine body layout Settings */
	* {margin:0;padding:0;border:0;text-decoration:none;list-style:none;font-weight:200;font-size:14px;}
	body {color:#FFFFFF;background-color:#111111;line-height:1.4;font-family:Tahoma, Geneva, sans-serif;display:flex;flex-direction:column;min-height:100%;}
	header {height:150px;overflow:hidden;}		/* This thing goes ontop of */
	#allOfTheThings {flex: 1;width:100%; -ms-flex-preferred-size: auto; @include breakpoint("large") }
	footer {height:28px;}						/* Which is ontop of this thing */

/* Header Styles */
	header .logoArea {position:absolute;top:20px;left:10px;z-index:+1;}
	header .logoArea img {width:400px;height:50px;}
	header .quote {position:absolute;font-family: 'neoSans';top:50px;color:#222222;z-index:+2;font-size:12px;opacity:0.6;font-weight:bold;margin-left:60px;}

/* Footer Styles */	 	
	footer {display:block;position:fixed;bottom:0px;}
	footer .fl {padding-left:8px;}
	footer .fr {padding-right:8px;}
	footer .icn {font-size:20px;margin:auto 2px;}
 	.adSpace {margin:6px;opacity:0.2;width:468px;height:15px;border:0px;padding:0;overflow:hidden}
	
/* Icon Reset Styles */
	.icn {font-family:'icomoon' !important;text-decoration:none !important;;}
	.icn * {text-decoration:none !important;}
	.icn a:before {text-decoration:none !important;}
	.icn a:link {text-decoration:none !important;}
	.icn a:hover {text-decoration:none !important;}
	a:link .icn {text-decoration:none !important;}
	a:hover .icn {text-decoration:none !important;}
	
/* Default Link Styles */
	a, a:link {color:#FFFFFF;text-decoration:none;}
	a:hover {text-decoration:underline;}
	a:visited {color:#FFFFFF;}
	
/* Reset HTML Styles */
	iframe {border:0;}
	h1 {margin: 0 0 10px 8px;padding:0;}
	table {width:100%;margin:0px auto;background-color:#222222;}
	table td {border: solid 1px #222222;}
	table td {text-align:center;}
	table tr {height:22px;}
	table tr:nth-child(even) {background-color:#333333;}
	table tr:nth-child(odd) {background-color:#222222;}
	del {text-decoration:line-through;opacity:0.6;}
	hr {margin-top:3px;margin-bottom:3px;width:100%;border-bottom:1px dashed #757575;}
	input {height:auto;width:auto;overflow:visible;font-family:"Lucida Console", Monaco, monospace;font-size:9px;}
	
/* Font AntiAliasing */
	.antialias { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}

/* Ditto Styles (Soon to become its own boostrap) */ 
	.bold {font-weight:bold;} .underline {text-decoration:underline;} .Italic {font-style:oblique;}
	/* Underline, Bold, Italic Text */
	.oneline {white-space: nowrap;}
	/* Force text to only occupy one line of space */
	.nudge {margin-left:10px;}
	/* Knock Element over to the right 10 pixels */
	.budge {margin-right:10px;}
	/* Knock Element over to the left 10 pixels */
	.fl {float:left;} .fr {float:right;}
	/* Float Left/Right */
	.db {display:block;}
	/* Display Block */ 
	.oh {overflow:hidden;}
	/* Hide overflowing Elements */
	.vw {min-width:100vw;} .vh {min-height:100vh;}
	/* CSS Variable height class */
	.pr {position:relative;}
	/* Use relative positioning on Element */
	.full {width:100%;height:100%;} 
	/* Fill all available space by Element */
	.fullw {width:100%;} 
	/* Fill all horizontal space by Element */
	.fullh {height:100%;}
	/* Fill all vertical space by Element */
	.tint {background-color:rgba(22, 22, 22, 0.6) !important;}
	/* When an element covering another object to 'darken' its color */
	.layerUp {z-index:+1;}
	/* When an element is covering another object */
	.layerDown {z-index:-1;}
	/* When you want an element to cover another object */
	.ma {margin-left:auto;margin-right:auto;}
	/* This is a pretty hack to cener things with a width attribute applied */
	.ctr {text-align:center;margin-left:auto;margin-right:auto;}
	/* Same as above with Text-Align Center also applied */
	.big {font-size:28px !important;} .small {font-size:9px !important;}
	/* Class to be used on any element to make it blink */
	.blink {animation:blink 0.4s infinite; -webkit-animation:blink 0.4s infinite;} @keyframes blink { from {opacity:0.1;} to {opacity:1;} } @-webkit-keyframes blink { from {opacity:0.1;} to {opacity:1;} } };
	/* To be used with text classes ie class='write big' */	
	.write, .writeDark {font-family:Tahoma, Geneva, sans-serif;font-size:14px;opacity:1;} .write {color:#FFFFFF;} .writeDark {color:#222222;}
	/* Default Text Styling */
	.mirror {display:block; -webkit-transform: matrix(-1, 0, 0, 1, 0, 0); -moz-transform: matrix(-1, 0, 0, 1, 0, 0); -o-transform: matrix(-1, 0, 0, 1, 0, 0); transform: matrix(-1, 0, 0, 1, 0, 0); }
	/* Flip text completely backwards */
	.reverse {direction: rtl;unicode-bidi:bidi-override;}
	/* Flip text to read backwards */
	.upsideDown {-webkit-transform:rotate(-180deg); -moz-transform:rotate(-180deg); -o-transform:rotate(-180deg); transform:rotate(-180deg); ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)"; filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);}
	/* Flip text upside down */
	.ninjas {display:none;color:#000000;}
	/* Hide Element */

/* Navigation Bar Styles */
	#navBody * {list-style:none;}
	#navBody {position:absolute;top:127px;width:100%;height:23px;margin:0 auto;background-color:rgba(22, 22, 22, 0.6);z-index:+5;}
	#navBody span {font-size:16px;}
	#navBody a, #navBody a:link, #settingsButton a, #settingsButton a:link {color:#D6D6D6;text-decoration:none;font-family:'neoSans';text-decoration:none;font-weight:500;font-size:15px;line-height:1.5;}
	#navBody ul {margin-left:8px;}
	#navBody li {float:left;margin:0 4px;}

	#navBody li a:hover, #settingsButton a:hover {cursor:pointer;text-decoration:none;text-shadow: 0 0 4px #FFFFFF;color:#FFFFFF;}

/* Settings Menu Styles */
	#settingsMenu {display:none;color:#EFEFEF;padding:0px;background-color:#232323;position:absolute;right:0px;top:22px}
	#settingsButton a {position:relative;bottom:1px;}
	#settingsButton .icn {position:relative;top:1px;}
	#settingsButton:hover {color:#FFFFFF;cursor:pointer;}
	
	.settingsMenuBlock {width:200px;border-left:1px dashed #757575;border-bottom:1px dashed #757575;padding:10px;}
	.settingsMenuBlock #colorPicker {height:180px;width:200px;}

/* Video Player Styles */
	.youTube {width:650px;height:390px;overflow:hidden;}
	.youTube iframe {border:0;width:630px;height:370px;padding:10px;}

/* Chan Styles */
	.chan {height:140vh;}

/* Table Styles */	
	#fileTable tr th a:link, .fileTable {color:#222222;text-decoration:none}
	#fileTable tr th a:hover, .fileTable a:active {text-decoration:underline}

/* Code viewer and Pastebin Styles */
	.previewIcon {font-size:80px;font-family:'icomoon';margin:40px;color:#222222;}
	.previewIcon:hover {opacity:0.9;color:#FFFFFF !important;text-decoration: none;}

/* Color Picker Styles */
	#colorPicker a:before {font-family:'icomoon' !important;font-size:18px;float:left;background:#222222;display:block;border-radius:5px;border:4px solid #222222;margin:2px;}
	#colorPicker a:hover:before {cursor:pointer;margin:1px;font-size:20px;}

/* Square Classes */
	#sqField .sq, #sqField .sqDub {float:left;}
	.sq, .sqDub {height:180px;display:none;overflow:hidden;margin-right:10px;margin-top:10px;}
	.sq	{width:180px;}
	.sqDub, .sqYt iframe {width:370px;}
	.sqTitle {margin:2px 5px;font-size:18px;height:25px;overflow:hidden;color:#222222;font-family:'neoSans';font-weight:bold;}
	.sqTitle .icn {color:#333333;font-size:16px;}
	.sqTitle .sqSettings {color:#222222;font-size:18px;opacity:0.2;float:right;margin-top:1px;}
	.sqTitle .sqSettings:hover {animation:fadeIn 0.5s;-webkit-animation:fadeIn 0.5s;opacity:1;cursor:pointer;}
	.sqBody {margin:4px 0px;font-size:12px;overflow:hidden;}
	.sqBody, .sqBody2, .sqBody3, .sqBody4 {margin:5px;height:155px;color:#222222;}
	.sqBody2, .sqBody3, .sqBody4 {display:none;}
	.sqTitleMirror-Frame1 {position:relative;}
/*	.sqTitle-Frame2 {} */
/*	.sqTitle-Frame3 {} */
/*	.sqTitle-Frame4 {} */
	.sq ul, .sqDub ul {list-style:none;}
/*  .sq {-webkit-box-flex: 0;-moz-box-flex: 0;box-flex: 0;-webkit-box-ordinal-group: 1;-moz-box-ordinal-group: 1;box-ordinal-group: 1;} */
/* .sq, .sqDub {height:180px;margin-right:10px;margin-top:10px;overflow:hidden;} */
/* .sq	{width:180px;} */
/* .sqDub, .sqYt iframe {width:370px} */
/* .sqTitle, .sqContent, .sqAltContent {padding:5px;} */
/* .sqTitle {font-size:22px;z-index:+1;} */
/* .sqContent {display:block;} */
	.sqAltButton {text-align:right;display:none;}
	.sqAltContent {padding:20px;display:none;} 
/* .sqAltContent ul {list-style:none;} */
/* .sqAltContent ul li {float:left;} */
	.sqYt iframe {height:179px;margin-top:1px;}
/* .sqYt .sqTitle {position:relative;color:#FFFFFF;z-index:+2} */
	
/* Fridge Styles */
	#breadcrumbs {margin: 0 0 8px 8px;}
	#breadcrumbs {float:left;text-align:left;}
	#listingheader a, #listingheader a:active, #listingheader a:visited, #listingheader a:link {text-decoration: none;}
	#listingheader a:hover {text-decoration:underline;}
	#headermodified, #headerfile, #headersize {width:400px;}
	#headermodified a, #headerfile a, #headersize a {color:#222222;}
	#listing {border: 0px solid #222222;}
	#listing a {color:#FFFFFF;text-decoration:none;}
	#listing a:hover {background-color:#434343;}
	#listing a img {margin:0;}
	#upload {border: 1px solid #A7C5FF;display:block;margin-top: 10px;font-size:small;color: #6285CA;text-decoration:none;background-color: #E9F0FF;}
	#uploadtitle {background-color: #DBE6FE;padding: 2px 5px 2px 5px;border-bottom: 1px solid #A7C5FF;}
	#uploadcontent {padding: 2px 5px 2px 5px;}
	.mod {margin:0;}
	.size {margin:0;}
	.upload-error{padding:2px 0;}
	.upload-error strong{color:#993333;}

/* Bubble Styles */
	.bubbles {position:relative;overflow:hidden;width:100%;height:180%;margin:0 auto;}
	.bubble-outer {position:absolute;bottom:0;-webkit-animation: bubblerise 4s infinite ease-in; -moz-animation:bubblerise 4s infinite ease-in;-ms-animation: bubblerise 4s infinite ease-in; animation: bubblerise 4s infinite ease-in;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0;}
	.bubble {opacity:0.9;width:6px;height:6px;margin:0 auto;border:1px solid rgba(255, 255, 255, 0.5);background: rgba(255, 255, 255, 0.5);-webkit-border-radius: 10px;-moz-border-radius: 10px;-ms-border-radius: 10px;-o-border-radius: 10px;border-radius: 10px;-webkit-animation: bubblewobble 0.4s infinite linear;-moz-animation: bubblewobble 0.4s infinite linear;-ms-animation: bubblewobble 0.4s infinite linear;animation: bubblewobble 0.4s infinite linear;}
	.bubble span {overflow:hidden;font-weight:bold;color:#222222;position:relative;top:0px;}

/* Bubble Animations */
	@-webkit-keyframes bubblerise {0% {bottom: 0;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity: 0;} 5% {bottom: 0;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity: 1;} 99% {filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity: 1;} 100% {bottom: 100%;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity: 0;}}
	@-moz-keyframes bubblerise {0% {bottom: 0;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity: 0;} 5% {bottom: 0;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity: 1;} 99% {filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity: 1;} 100% {bottom: 100%;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity: 0;}}
	@-ms-keyframes bubblerise {0% {bottom: 0;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity: 0;} 5% {bottom: 0;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity: 1;}99% {filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity: 1;}100% {bottom: 100%;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity: 0;}}
	@keyframes bubblerise {0% {bottom: 0;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity: 0;} 5% {bottom: 0;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity: 1;} 99% {filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity: 1;} 100% {bottom: 100%;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity: 0;}}
	@-webkit-keyframes bubblewobble {0% {margin-left: 0;} 50% {margin-left:0px;}}
	@-moz-keyframes bubblewobble {0% {margin-left: 0;} 50% {margin-left:0px;}}
	@-ms-keyframes bubblewobble {0% {margin-left: 0;} 50% {margin-left:0px;}}
	@keyframes bubblewobble {0% {margin-left: 0;} 50% {margin-left:0px;}}
	@keyframes caret{ 50%{ opacity:0.1; transform:scaleY(.8); } }
	@-webkit-keyframes caret{50%{ opacity:0.1; -webkit-transform:scaleY(.8); } }

/* Misc Animations */
	@keyframes fadeIn {from {opacity:0.2;} to {opacity:1;} }
	@-webkit-keyframes fadeIn {from {opacity:0.2;} to {opacity:1;} }

/* Browser Compatibility Bloat */
	#colorPicker a:before; {-webkit-border-radius: 4px;-moz-border-radius: 4px;}
	.sourceCode {-webkit-border-radius: 10px;-moz-border-radius: 10px;}

/* We hang onto this because we might need it */
/* .bubble-toggle {position: absolute;top: 10px;right: 10px;padding: 10px;background: rgba(255, 255, 255, 0.5);font-family: sans-serif;font-size: 13px;color: #333;} .bubble-toggle:hover {background: rgba(255, 255, 255, 0.75);} 